body{
  margin: 0%;
  padding: 0%;
}
.my_home{
    background-color: black;
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
  }
  
  .back{
    display: flex;
    background-color: black;
    max-width: 100%;
    max-height: 98vh;
  }
  
  .top{
    display: flex;
    position :absolute;
    width: 100%;
    z-index: 2;
  }
  


  .logo{
    width: 10rem;
    height: 6rem;
    margin-left: 2rem;
    z-index: 1;
  }
  
  .navSS{
    position: absolute;
    right: 5%;
    margin: 1rem;
    z-index: 2;
  }
  
  
  .selectlanguage{
    background-color: rgba(0, 0, 0, 0.804);
    height: 2rem;
    border-radius: 5px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
  }
  
  .signbutton{
    margin-left: 10px;
    border-radius: 4px;
    font-size: 1rem;
    font-family:Arial, Helvetica, sans-serif;
    background-color: red;
    color: white;
    border: red;
    cursor: pointer;
    height: 2rem;
    width: 5rem;
  }
  
  .searchEmail{
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    z-index: 1;
  }
  
  .heading1{
    position: relative;
    bottom: 0%;
    display: grid;
    align-items: center;
    justify-content: center;
    color: white;
  }
  .heading1 h1{
    font-size: 3.5rem;
    margin: 0rem;
    font-family: sans-serif;
  }
  .heading1 h5{
    font-size: 2rem;
    margin: 0rem;
    font-family:Arial, Helvetica, sans-serif;
  }
  .heading1 h6{
    font-size: 1rem;
    margin-top: 0rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .searchEmail_base{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  
  .inputsearch{
    display: flex;
    flex-wrap: wrap;
    width: 30pc;
    border-radius: 2px;
    border: white;
  }
  
  .getstated{
    display: inline-flex;
    text-decoration: underline red;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 3.8rem;
    background-color: red;
    color: white;
    font-size: large;
    border: red;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .backdark1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute; 
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.697);
  }
  
  .image2head{
    z-index: 2;
    color: white;
  }
  
  .background{
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  
  .my_hr{
    height: 0.7rem;
    background-color: rgba(138, 128, 128, 0.197);
    border: rgba(138, 128, 128, 0.197);
    margin: 0rem;
    z-index: 2;
  }
  
  /* ********************************2part************************* */
  .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding: 30px 40px;
  }
  
  .imageFirsthead{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 40%;
    color: rgb(255, 255, 255);
    z-index: 2;
  }
  
  .imageFirsthead_next{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 35%;
    color: rgb(255, 255, 255);
    z-index: 2;
  }
  .imvi{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 30rem;
    z-index: 4;
  }
  .imvi_next{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
  }
  .vidfirst{
    position: absolute;
  }
  
  .vidfirst_next{
    position: absolute;
    top: 5%;
  }
  .firstvid{
    max-width: 21rem;
  }
  .firstvidnext{
  
    max-width: 18rem;
  }
  .firstimg_base{
    max-width: 28rem;
    z-index: 2;
  }
  .firstimg_basenext{
    max-width: 30rem;
    z-index: 2;
  }
  h1{
  font-family: sans-serif;
  font-size: 3rem;
  color: white;
  }
  h3{
    font-size: 1.6rem;
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  }
  h2{
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .imgtwoparent{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;;
  }
  
  .imgtwo_base{
    max-height: 25rem;
  }
  
  .boxshot{
    max-height: 6rem;
    width: 20rem;
    display: flex;
    align-items: center;
    position:absolute;
    bottom: 8%;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
  }
  
  .boximg{
    padding: 15px 15px;
    max-height: 5rem;
  }
  .conbox{
   display: flex;
   align-items: center;
   justify-content: center;
  }
  .myDownloading{
    position: absolute;
    right: 8px;
    height: 60px;
  }
  .conbox h3{
    margin-bottom: 0%;
    font-size: 1rem;
    padding: 0%;
    margin: 0%;
  }
  .conboxH{
    color: #0071eb;
    padding: 0%;
    margin: 0%;
  }
  
  
  .askQ{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .parent_main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .sameClose{
    width: 80%;
    position: relative;
    background-color: #303030;
    padding: 2px 15px;
    margin: 5px 5px;
  }
  
  .iconClose{
    position: absolute;
    cursor: pointer; 
    right: 5%;
    color: white; 
    font-size: 2rem;
    top: 15px; 
  }
  .inputsearch{
    height: 3.6rem;
  }
  
  .landingHeading1{
    margin-top: 40px;
  }
  .landingHeadingLogo{
    height:80px;
  }
  
  /* ==========================MEDIA QUERIES (medium)=========== */
  
  @media screen and (max-width: 1000px){
    .landingHeadingLogo{
      height: 50px;
    }
    .landingHeading{
        font-size: 40px;
    }
    .landingHeading1{
      margin-top: 10px;
    }
    .landingHeadingButton{
      height:40px;
    }
    .logo{
      width: 6rem;
      height: 4rem;
    }
  
  .searchEmail{
    width: 75%;
  }
  
  .inputsearch{
    height: 3rem;
  }
  
  .getstated{
    margin: 1rem;
    height: 2rem;
  }
  
  .imageFirsthead,.imageFirsthead_next{
    max-width: 60%;
  }
  .backdark1{
    max-height: 50rem;
  }
  }
  
  /* ==========================MEDIA QUERIES (medium-small)=========== */
  
  @media screen and (max-width: 800px){
    .myDownloading{
     
      height: 40px;
    }
  .heading1 h1{
    font-size: 2.8rem;
  }
  .heading1 h5{
    font-size: 1.6rem;
  }
    .searchEmail{
      width: 60%;
    }
  
  }
  
  /* ==========================MEDIA QUERIES (small)=========== */
  
  @media screen and (max-width: 550px){
    .landingHeading{
      font-size: 30px !important;
    }
    .heading1 h1{
      font-size: 2rem;
    }
    .heading1 h5{
      font-size: 1rem;
    }
    .heading1 h6{
      font-size: 0.6rem;
    }
      .inputsearch{
        height: 2.5rem;
        width: 20rem;
      }
  
      .getstated{
        margin: 0.5rem;
        height: 1.5rem;
        width: 8rem;
        font-size: 1rem;
      }
  .arrow{
      font-size: 0.2rem;
  }
  
  .firstimg_base,.firstimg_basenext{
    max-width: 20rem;
    z-index: 2;
  }
  .firstvid{
    max-width: 15rem;
  }
  .firstvidnext{
    max-width: 12rem;
  }
  h1{
    font-size: 2rem;
    }
    h3{
      font-size: 1rem;
    }
    h2{
      color: white;
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .imgtwo_base,.firstimg_basenext{
      max-height: 20rem;
    }
  
    .boximg{
      max-height: 3rem;
    }
  .boxshot{
    max-width: 15rem;
    max-height: 5rem;
  }
  .container{
    height: 40rem;
    padding: 2px 2px;
  }
  .askQ h1,h2{
    font-size: large;
  }
  .sameClose{
    width: 15rem;
  }
  .imvi{
    height: 12rem;
  }
  
  }
  
  
  
  
  /* ************************** signIn CSS************************** */
  
  .fromsign{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .fromsign1{
    position: absolute;
    background-color: rgba(0,0,0,.75);
    height: 36rem;
    width: 26rem;
  
  }
  
  .fromsign1 {
    color: rgba(255, 255, 255, 0.99);
    font-family: sans-serif;
    font-size: 1.2rem;
  }
  
  .fromsign1 h1{
    margin-left: 4rem;
    font-size: 2.2rem;
  }
  .fromsign1 input{
    border: white;
    background-color: aliceblue;
    width: 19rem;
    height: 2.5rem;
    margin: 0.5rem;
    margin-left: 4rem;
    border-radius: 5px;
  }
  
  .signconfirm{
    background-color: red;
    border: red;
    width: 19rem;
    height: 2.5rem;
    margin: 2rem;
    margin-left: 4rem;
    color: white;
    font-family: sans-serif;
    font-size: 1.3rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  .base_signIn {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .base_signIn_bottom{
    max-width: 15rem;
  }
  .new_to{
    color: #484545;
  }
  .base_signIn_bottom_q{
    display: flex;
  }
  
  .base_signIn_bottom_q h5{
    margin: 0%;
  }
  
  .first_link{
    color: white;
  }
  
  .second_link{
    color: #0071eb;
  }
  
.my_code_div{
  background-color: red;
  height: 10rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

}

.my_code_div input{
  margin-left: 1rem;
  color: black;
}
  